

@font-face {
    font-family: 'Out';
    src: url('../font/outward-block-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background: rgb(255,180,213);
    background: radial-gradient(circle, rgba(255,180,213,1) 0%, rgba(48,254,98,1) 64%, rgba(176,212,255,1) 100%);
    margin-left: 55vw;
    margin-top: 10vh;

    
}

h1, h2 {
    font-family:'Out', sans-serif;
    font-size: 170px;
    color: rgb(0, 31, 24);
    margin-left: 20vw; 
}


p, a {
    font-family: 'Out', sans-serif;
    font-size: 170px;
    color: rgb(0, 31, 24);
    margin-left: 0;
}


a {
    color:rgb(0, 255, 102);
    text-decoration: none;

}

a:hover {
  text-shadow: 0 0 72px hsl(308, 100%, 50%); 
  color: transparent;      
  transition: all 0.7s ease;
  cursor: pointer;
  
}