

@font-face {
    font-family: "Out";
    src: url('../font/outward-block-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Out2";
    src: url('../font/outward-round-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background: rgb(255,180,213);
    background: radial-gradient(circle, rgba(255,180,213,1) 0%, rgba(48,254,98,1) 64%, rgba(176,212,255,1) 100%);
    margin-left: 55vw;
    margin-top: 10vh;

    
}


h1, h2, a, p {


    font-family:"Out", san-serif; 
    font-size: 170px;
    font-family:'Out';
    color: rgb(0, 31, 24);

}

a {
    color:rgb(0, 255, 102);
    text-decoration: none;
    font-size: 170px;
    font-family:'Out';
    

}

a:hover {
  text-shadow: 0 0 72px hsl(308, 100%, 50%); 
  color: transparent;      
  transition: all 0.7s ease;
  cursor: pointer;
  
}