

body{
    margin-left: 5vw;
    margin-top: 5vh;

    
}

h1, h2, a, p {

    font-family:'Courier New', Courier, monospace;

}

h1{
   

}

h2{

}

p {
    color: rgb(31, 101, 31);
    font-size: 30px;
}

a {
    color:blueviolet;
    text-decoration: none;
    

}

a:hover {
  text-shadow: 0 0 72px yellow; 
  color: transparent;      
  transition: all 0.7s ease;
  cursor: pointer;
  
}