body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 20px; 
    padding: 40px;
}

.word {
    color: transparent;
}

.first-word, .last-word {
    color: white;
}

.word.hover {
    text-shadow: 0 0 42px hsl(0, 0%, 100%); 
    color: white;      
    transition: all 0.4s ease;
    cursor: pointer;
    
  }


.word.clicked {
    color: white;
    font-style: italic;
}
